<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" version="4.0">
  <servlet>
    <description></description>
    <display-name>Index</display-name>
    <servlet-name>Index</servlet-name>
    <servlet-class>controleur.Index</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Index</servlet-name>
    <url-pattern>/Index</url-pattern>
  </servlet-mapping>
  <display-name>Luom</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Footer</display-name>
    <servlet-name>Footer</servlet-name>
    <servlet-class>controleur.Footer</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Footer</servlet-name>
    <url-pattern>/Footer</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Header</display-name>
    <servlet-name>Header</servlet-name>
    <servlet-class>controleur.Header</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Header</servlet-name>
    <url-pattern>/Header</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Moncompte</display-name>
    <servlet-name>Moncompte</servlet-name>
    <servlet-class>controleur.Moncompte</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Moncompte</servlet-name>
    <url-pattern>/Moncompte</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Connexion</display-name>
    <servlet-name>Connexion</servlet-name>
    <servlet-class>controleur.Connexion</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Connexion</servlet-name>
    <url-pattern>/Connexion</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MiniCart</display-name>
    <servlet-name>MiniCart</servlet-name>
    <servlet-class>controleur.MiniCart</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MiniCart</servlet-name>
    <url-pattern>/MiniCart</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PanierServlet</display-name>
    <servlet-name>PanierServlet</servlet-name>
    <servlet-class>controleur.PanierServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PanierServlet</servlet-name>
    <url-pattern>/PanierServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SeeCat</display-name>
    <servlet-name>SeeCat</servlet-name>
    <servlet-class>controleur.SeeCat</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SeeCat</servlet-name>
    <url-pattern>/SeeCat</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Validation</display-name>
    <servlet-name>Validation</servlet-name>
    <servlet-class>controleur.Validation</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Validation</servlet-name>
    <url-pattern>/Validation</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Cart</display-name>
    <servlet-name>Cart</servlet-name>
    <servlet-class>controleur.Cart</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Cart</servlet-name>
    <url-pattern>/Cart</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ContactServlet</display-name>
    <servlet-name>ContactServlet</servlet-name>
    <servlet-class>controleur.ContactServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ContactServlet</servlet-name>
    <url-pattern>/ContactServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Deconnexion</display-name>
    <servlet-name>Deconnexion</servlet-name>
    <servlet-class>controleur.Deconnexion</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Deconnexion</servlet-name>
    <url-pattern>/Deconnexion</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SeeProduit</display-name>
    <servlet-name>SeeProduit</servlet-name>
    <servlet-class>controleur.SeeProduit</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SeeProduit</servlet-name>
    <url-pattern>/SeeProduit</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SeeSscat</display-name>
    <servlet-name>SeeSscat</servlet-name>
    <servlet-class>controleur.SeeSscat</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SeeSscat</servlet-name>
    <url-pattern>/SeeSscat</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Recherch</display-name>
    <servlet-name>Recherch</servlet-name>
    <servlet-class>controleur.Recherch</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Recherch</servlet-name>
    <url-pattern>/Recherch</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Wishlist</display-name>
    <servlet-name>Wishlist</servlet-name>
    <servlet-class>controleur.Wishlist</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Wishlist</servlet-name>
    <url-pattern>/Wishlist</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Intercom</display-name>
    <servlet-name>Intercom</servlet-name>
    <servlet-class>controleur.Intercom</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Intercom</servlet-name>
    <url-pattern>/Intercom</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Notconnected</display-name>
    <servlet-name>Notconnected</servlet-name>
    <servlet-class>controleur.Notconnected</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Notconnected</servlet-name>
    <url-pattern>/Notconnected</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Ajouteradresse</display-name>
    <servlet-name>Ajouteradresse</servlet-name>
    <servlet-class>controleur.Ajouteradresse</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Ajouteradresse</servlet-name>
    <url-pattern>/Ajouteradresse</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Modifieradr</display-name>
    <servlet-name>Modifieradr</servlet-name>
    <servlet-class>controleur.Modifieradr</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Modifieradr</servlet-name>
    <url-pattern>/Modifieradr</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Modifierinfo</display-name>
    <servlet-name>Modifierinfo</servlet-name>
    <servlet-class>controleur.Modifierinfo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Modifierinfo</servlet-name>
    <url-pattern>/Modifierinfo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Commands</display-name>
    <servlet-name>Commands</servlet-name>
    <servlet-class>controleur.Commands</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Commands</servlet-name>
    <url-pattern>/Commands</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>NotFound</display-name>
    <servlet-name>NotFound</servlet-name>
    <servlet-class>controleur.NotFound</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NotFound</servlet-name>
    <url-pattern>/NotFound</url-pattern>
  </servlet-mapping>
  <error-page>
    <error-code>404</error-code>
    <location>/NotFound</location>
  </error-page>
  <servlet>
    <description></description>
    <display-name>Error</display-name>
    <servlet-name>Error</servlet-name>
    <servlet-class>controleur.Error</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Error</servlet-name>
    <url-pattern>/Error</url-pattern>
  </servlet-mapping>
  <error-page>
    <error-code>500</error-code>
    <location>/Error</location>
  </error-page>
</web-app>